<?xml version="1.0" encoding="UTF-8"?>
<!-- Using this file to configure logging for the application, before the spring cli is initialized -->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern to not type the whole classpath of the logger when printing -->
            <pattern>%-5level: %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
